
.container{
    background-color: rgb(255, 255, 255);
    height: 40rem;
}
h1{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
p{
    margin-bottom: 4rem!important;
}

/* ==========MEDIA QUERIES (small devices) ========= */
@media screen and (max-width:600px) {
   .container{
    height: 100%;
   }
   .container>p{
    margin-left: 1.5rem;
   }
  }