.pop-up{
 color: black;
 width: 30rem;
 height: fit-content;
 padding: 2rem;
 position: absolute;
 background-color: rgb(243, 194, 134);
 z-index: 10;
margin: 30rem auto;
margin-left: 36%;
 border-radius: 10px;
}
.he{
    border-bottom: 3px solid maroon;
}
.hp{
    padding-top: 1rem ;
}
.pop-up-closed{
    display: none;
}
.butt{
    background-color: maroon;
    color: var(--bg-color-theme);
    border-radius: 4px;
    margin-top: 1rem;
}