
p{
    margin-bottom: 1rem !important;
    color: black;
}
.future{
    margin-top: 4rem;
    background-color: var(--secondary-01);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}
.future >p{
    font-size: large;
    line-height: 4rem;
}