.navbar {
    width: 100vw !important;
    justify-content: center !important;
}
.bg-da{
    background-color: var(bg-color-theme)!important;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: maroon!important;
}

 .dropdown-item, .dropdown-menu{
    color: maroon!important;
    background-color: rgb(249, 238, 228)!important;
}
.mx{
    padding-left: 14rem!important;
}

i {
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 0 5px;
    cursor: pointer;
}


i:hover {
    color: maroon;
    transition: 500ms;
}

@media screen and (max-width:600px){
    .mx{
        padding-left: 0!important;
    }
} 