body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-01);
    
}

.golf {
    /* margin-top: 14rem; */
    background-color: var(--secondary-01);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.golf>img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.fort {
    /* margin-top: 10rem; */
    background-color: var(--secondary-01);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fort>img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.lake {
    /* margin-top: 14rem; */
    background-color: var(--secondary-01);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.lake>img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.temple {
    /* margin-top: 9rem; */
    background-color: var(--secondary-01);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.temple>img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.frame {
    width: 100%;
    height: 85vh;
    position: relative;
}

.banner {
    background-color: rgb(218, 200, 177);
    width: 20%;
    position: absolute;
    border-radius: 10px;
    right: 10%;
    top: 55%;
    box-shadow: rgba(240, 211, 46, 0.4) 5px 5px, rgba(240, 179, 46, 0.3) 10px 10px, rgba(240, 191, 46, 0.2) 15px 15px, rgba(240, 185, 46, 0.1) 20px 20px, rgba(240, 179, 46, 0.05) 25px 25px;
}
.hh{
    width: 50%;
    margin-left: 25%!important;
    margin-right: 25%!important;
    border: none;
    height: 2px;
    background: black;
   
}
.banner>h1,
h2,
h3,
h4,
h5 {
    color: maroon
}

@media screen and (max-width:600px) {
    .golf>img {
        width: 100%;
        height: 15rem;
    }

    .temple>img {
        width: 100%;
        height: 15rem;
    }

    .fort>img {
        width: 100%;
        height: 15rem;
    }

    .lake>img {
        width: 100%;
        height: 15rem;
    }

    .frame {
        width: 100%;
        height: 40rem;
    }

    .banner {
        right: auto;
        top: 130%;
        width: 80%;
        margin: 0 10%;
    }
}